*{
  margin: 0;
  padding: 0;
}
.transitionWrapper-enter {
  left: 100%;
  transition: left 300ms ease-in;
  background-color: red;
}

.transitionWrapper-enter.transitionWrapper-enter-active {
  left: 0;
}
.transitionWrapper-leave{
  left : 0;
  transition: left 300ms ease-in;
}
.transitionWrapper-leave.transitionWrapper-leave-active {
  left : -100%;
}
.transitionWrapper {
  position: relative;
}
.toast-notification{
  top : 46%;
  opacity: 0;

}
.toast-notification-span{
  background-color: #5f5f5f;
  background: #5f5f5f;
  opacity: 0.9;
  display: inline-block;
  width: auto;
  height: auto;
  border-radius: px2rem(30px);
  padding: px2rem(10px) px2rem(30px);
  color: #ffffff;
}
